<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div layout:fragment="content" class="container my-3">
    <form th:action="@{/mail/find/pw}" th:object="${findPw}" method="post">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label th:for="username" class="form-label">사용자 ID</label>
            <input type="text" th:field="*{username}" class="form-control">
        </div>
        <div class="mb-3">
            <label th:for="email" class="form-label">이메일</label>
            <input type="email" th:field="*{email}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">비밀번호 재설정 메일 전송</button>
    </form>
    <a th:href="@{/user/login}" class="btn btn-outline-primary">로그인</a>
</div>
</html>